gunicorn==19.9.0
backports-abc==0.5
bkcharts==0.2
bokeh==1.0.2
certifi==2018.11.29
chardet==3.0.4
click==7.0
Flask==1.0.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
numpy==1.15.4
python-dateutil==2.7.5
PyYAML==3.13
requests>=2.20.0
singledispatch==3.4.0.3
six==1.11.0
tornado==5.1.1
urllib3==1.24
Werkzeug==0.14.1
pandas==0.23.4
scipy==1.1.0
astropy==3.0.5
matplotlib==3.0.1
git+https://github.com/mpld3/mpld3@master
tables==3.4.4
apscheduler==3.5.3
PyAstronomy==0.13.0
airbrake==2.1.0
