{% extends "template.html" %}

{% block body %}

<div class="col-lg-7">
<h1>Contact the team</h1>

<p>Depending on the questions you might have we ask you to contact different
people. For any scientific questions you can contact
<a href="http://astro.up.pt/caup/index.php?WID=114&CID=1&ID=67&Lang=pt" target="_blank">Nuno Santos</a>.
For technical questions about the site you can ask <a href="http://astro.up.pt/caup/index.php?WID=114&CID=1&ID=189&Lang=pt" target="_blank">Daniel Andreasen</a>,
or <a href="https://github.com/DanielAndreasen/SWEETer-Cat/issues" target="_blank">open an issue on Github</a> with any bugs/suggestions.
</p>
</div>

{% endblock %}
