{% extends "template.html" %}

{% block body %}

  <h1>SWEETer-Cat</h1>

  <p>Bringing <a href="https://www.astro.up.pt/resources/sweet-cat/">SWEET-Cat</a> to new sweets!</p>

  <p>A detailed description of each field can be found <a href="{{ url_for('static', filename='table.pdf') }}">here</a></p>

  <p>Downdload the table in the following formats:
  <a class="btn btn-info" href="download/sweet-cat.tsv">TSV</a>
  <a class="btn btn-info" href="download/sweet-cat.csv">CSV</a>
  <a class="btn btn-info" href="download/sweet-cat.hdf">HDF</a>
  </p>

  <hr>
  <table id="sc-table" class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Star</th>
        {% for column in columns %}
          {% if column == 'link' %}
          {% else %}
            <th>{{ column }}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <th scope="row" style="white-space:nowrap;"><a target="_blank" href="/star/{{ row['Star'] }}">{{ row['Star'] }}</a></th>
        {% for column in columns %}
          {% if column == 'Author' %}
            <td style="white-space:nowrap;"><a target="_blank" href="{{ row['link'] }}">{{ row['Author'] }}</a></td>
          {% elif column == 'link' %}
          {% else %}
            <td style="white-space:nowrap;">{{row[column]}}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
