{% extends "template.html" %}

{% block body %}

    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}
    <!-- A simple form for changing the graph -->
    <div class="col-lg-3">
    <h3>Select your settings: </h3>
      <form class="form-inline" name="color_button" method='POST'>

        <div class="input-group">
          <span class="input-group-addon"><label>x</label></span>
          <select name="x">
          {% for column in columns %}
            {% if column == x %}
              <option selected="selected">{{ x }}</option>
            {% else %}
              <option value="{{ column }}">{{ column }}</option>
            {% endif %}
          {% endfor %}
        </select>
        </div>
        <br>

        <div class="input-group">
          <span class="input-group-addon"><label>y</label></span>
          <select name="y">
          {% for column in columns %}
            {% if column == y %}
              <option selected="selected">{{ y }}</option>
            {% else %}
              <option value="{{ column }}">{{ column }}</option>
            {% endif %}
          {% endfor %}
        </select>
        </div>
        <br>

        <div class="input-group">
          <span class="input-group-addon"><label>z</label></span>
          <select name="z">
          <option value="None">None</option>
          {% for column in columns %}
            {% if column == z %}
              <option selected="selected">{{ z }}</option>
            {% else %}
              <option value="{{ column }}">{{ column }}</option>
            {% endif %}
          {% endfor %}
        </select>
        </div>
        <br>

        <div class="input-group">
          <span class="input-group-addon"><label>x scale</label></span>
          <select name="xscale">
            {% for scale in ['linear', 'log'] %}
              {% if scale == xscale %}
                <option selected="selected" value="{{ scale }}">{{ scale }}</option>
              {% else %}
                <option value="{{ scale }}">{{ scale }}</option>
              {% endif %}
            {% endfor %}
        </select>
        </div>
        <br>

        <div class="input-group">
          <span class="input-group-addon"><label>y scale</label></span>
          <select name="yscale">
            {% for scale in ['linear', 'log'] %}
              {% if scale == yscale %}
                <option selected="selected" value="{{ scale }}">{{ scale }}</option>
              {% else %}
                <option value="{{ scale }}">{{ scale }}</option>
              {% endif %}
            {% endfor %}
        </select>
        </div>
        <br>

        <div class="input-group">
          <span style="width:50%" class="input-group-addon"><label>Color</label></span>
          <select name="color">
            {% for col in colors %}
              {% if col == color %}
                <option selected="selected" value="{{ col }}">{{ col }}</option>
              {% else %}
                <option value="{{ col }}">{{ col }}</option>
              {% endif %}
            {% endfor %}
        </select>
        </div>
        <br>

        <div class="input-group">
          <span style="width:50%" class="input-group-addon"><label>Colorscheme</label></span>
          <select name="colorscheme">
            {% for color in colorschemes.keys() %}
              {% if color == colorscheme %}
                <option selected="selected" value="{{ color }}">{{ color }}</option>
              {% else %}
                <option value="{{ color }}">{{ color }}</option>
              {% endif %}
            {% endfor %}
        </select>
        </div>
        <br>

        <div class="input-group">
          <span style="width:33%" class="input-group-addon"><label>xmin</label></span>
          <input style="width:66%" type="text" class="form-control" name="x1" value="{{ x1 }}">
        </div>
        <div class="input-group">
          <span style="width:33%" class="input-group-addon"><label>xmax</label></span>
          <input style="width:66%" type="text" class="form-control" name="x2" value="{{ x2 }}">
        </div>
        <div class="input-group">
          <span style="width:33%" class="input-group-addon"><label>ymin</label></span>
          <input style="width:66%" type="text" class="form-control" name="y1" value="{{ y1 }}">
        </div>
        <div class="input-group">
          <span style="width:33%" class="input-group-addon"><label>ymax</label></span>
          <input style="width:66%" type="text" class="form-control" name="y2" value="{{ y2 }}">
        </div>

        <label>Homogeneous parameters:</label> <input type="checkbox" name="checkboxes" value="homo" {{ 'checked="checked"' if "homo" in checkboxes else ""}}/>

        <br>
        <button class="btn btn-info" type="submit">Submit</button>
    </form>
  </div>
  <div class="col-lg-offset-1 col-lg-8">
    <br>
    {{ plot_div|indent(4)|safe }}
  </div>

{% endblock %}
