{% extends "template.html" %}

{% block body %}


<h1>Main papers</h1>

{% for paper in publications['main'] %}
  <h3><a href="{{ paper['adsabs'] }}" target="_blank">{{ paper['title'] }}</a></h3>
  <h4>Authors:</h4>
  <small>
    {{ paper['authors'] }}
  </small>
  <h4>Abstract: </h4>
  <p>{{ paper['abstract'] }}</p>
{% endfor %}


<h1>Derived papers</h1>

{% for paper in publications['other'] %}
  <h3><a href="{{ paper['adsabs'] }}" target="_blank">{{ paper['title'] }}</a></h3>
  <h4>Authors:</h4>
  <small>
    {{ paper['authors'] }}
  </small>
  <h4>Abstract: </h4>
  <p>{{ paper['abstract'] }}</p>
{% endfor %}


{% endblock %}
